@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
  .nav-item
    margin: 0 10px 0 0

  .list-social
    margin: 0 10px 0 auto
    li
      margin: 0 10px 0 0

  header .btn
    max-width: 150px

  .home-content
    padding: 0

  .home
    h1
      font-size: 30px

  .free-measurement
    font-size: 20px

  .main-banner
    height: 326px

  .list-services li a
    height: 100px

  .profitable h2
    font-size: 30px
    margin: 0 0 30px

  .profitable-card__title
    padding: 0 10px
    font-size: 12px

  .profitable-card__img
    width: 100%
    height: 150px

  .payment-variable__wrap
    flex-direction: column
    align-items: center
    h2
      text-align: center
      max-width: none
      margin: 0 auto 20px
    .list-check
      max-width: none
      width: 100%
      justify-content: space-around
      li
        margin: 0 0 10px
        &:last-child
          margin: 0 0 10px

  .calculate-call
    padding: 20px
    p
      font-size: 18px

  .call-item .form-group-comment
    max-width: 172px
    margin: 0 0 0 auto

  .news-box__img
    width: 200px
    height: 200px

  .news-box__body
    width: calc(100% - 200px)
    padding: 20px 0 0

  .call-the-master-two .call-the-master__content
    max-width: 270px

  .call-the-master-two .form
    width: calc(100% - 270px)

  .call-the-master-two
    padding: 30px

  .call-two
    margin: 35px 0 50px

  .about-min-body
    padding: 20px
    h3
      margin: 0 0 20px

  .call-info .form
    padding: 0

  .city-wrapper__address, .office-center
    font-size: 18px

  .office-center
    margin: 30px 0

  .address, .schedule
    margin: 0 0 20px

  .main-window h1
    font-size: 36px

  .main-window .btn
    margin: 23px auto 0

  .main-advantages
    margin: 8px auto 0
    li
      margin: 0 0 10px

  .customer-confidence
    &__img
      width: 100%
    h2
      font-size: 36px

  .customer-confidence-number__item .number
    font-size: 54px
    line-height: 1

  .thermal-imager h2
    font-size: 30px

  .thermal-imager .list-dots
    font-size: 18px

  .sale-val
    font-size: 80px
    line-height: 1

  .sales-my .sales-box h3
    font-size: 26px

  .sales-box-content h3
    max-width: 220px

  .header
    .nav-item
      margin: 0 20px 0 0
    .phone
      font-size: 16px
      margin: 0 10px 0 0

  .select
    margin: 0 10px 0 auto



/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  .navbar-toggler
    display: block
    margin: 0 0 0 10px

  .navbar-collapse
    position: fixed
    transition: none
    left: 0
    top: 0
    background: #fff
    width: 100%
    max-width: 270px
    padding: 30px
    height: 100%
    overflow-y: auto
    z-index: 3
    box-shadow: 0px 4px 16px rgba(15, 89, 72, 0.4)

  .nav-item
    margin: 0 0 10px

  .nav-link
    font-size: 16px

  .profitable
    .btn
      margin: 0 0 30px

  .about-min .btn
    margin: 20px auto 0

  .advantages-in-numbers__box
    margin: 0 0 30px
    font-size: 20px
    height: 200px
    padding: 40px 20px 30px

  .advantages-in-numbers__number
    margin: 0 0 26px

  .advantages-in-numbers
    margin: 0 0 30px

  .services-item
    font-size: 18px
    padding: 21px 25px
    margin: 0 0 25px
    &:last-child
      padding: 7px 25px 15px

  .services-item-max
    padding: 35px 20px

  .call-the-master
    padding: 30px 20px
    flex-direction: column
    align-items: center
    .form
      width: 100%
      margin: 10px 0 0

  .call-the-master__content
    width: 100%
    text-align: center

  .recommended-services
    margin: 15px 0 0

  .call-item .form-group-comment, .call-item .form-group
    max-width: 49%

  .call-item-manager
    margin: 0 0 30px

  .call-item
    height: auto

  footer
    padding: 30px 0

  .footer-menu
    margin: 0 0 30px

  .nav-pills
    margin: 0 0 30px
    justify-content: space-around
    .nav-item
      margin: 0 0 10px

  .sales-box
    padding: 50px 30px 20px
    min-height: 300px
    h3
      font-size: 24px
      max-width: 400px
    p
      font-size: 18px

  .about-main
    h1
      max-width: none
      margin: 0 0 40px
    .box-text
      max-width: none
    h3
      font-size: 20px
      margin: 0 0 20px

  .about-main__content
    margin: 0 0 30px

  .about-min-img, .about-min-body
    height: 220px

  .presentation-wrapper
    margin: 30px auto 0
    flex-direction: column
    align-items: center
    h4
      margin: 0 auto 20px
      text-align: center

  .directors-word
    margin: 40px 0

  .office-center h2
    font-size: 24px

  .equipment-box
    width: 50%
    max-width: none
    padding: 0 20px
    margin: 0 0 30px

  .equipment-box__img, .equipment-box:last-child .equipment-box__img
    margin: 0 auto -78px

  .equipment-box:nth-child(3) .equipment-box__img
    margin: 0 auto -48px


  .type-balcony__item
    margin: 0 auto 20px
    width: 19%
    &:last-child
      margin: 0 auto 20px

  .example-price-wrapper
    padding: 0

  .departure-master-img
    max-width: 500px
    margin: 0 auto 23px

  .departure-master
    margin: 40px 0 70px

  .departure-master-form
    label
      width: 100%
      max-width: 283px
      margin: 0 auto 25px
    button
      max-width: 162px
      margin: 0 auto
    .consent
      max-width: 133px
      margin: 13px auto 0
      text-align: center

  .departure-master-form h3
    margin: 0 0 20px

  .consultation-img
    right: 0
    top: -45px
    max-width: 172px


  .consultation-title
    padding: 35px 0 24px
    margin: 0 0 -80px
    h2
      font-size: 24px
      max-width: 215px
    &:before
      width: calc(100% - 56px)
      left: -20px


  .form-consultation
    max-width: 283px
    margin: 0 auto
    label
      max-width: none
      margin: 0 auto 25px
    input
      text-align: center
    button
      max-width: 162px
      margin: 0 auto
    .consent
      max-width: 133px
      margin: 13px auto 0

  .consultation-content
    padding: 150px 0 50px
    &:before
      height: 100%
      width: 100%
      left: 0
      border-radius: 20px

  .customer-confidence__img
    max-width: 340px
    margin: 30px auto 0
    justify-content: center
    height: auto
    align-items: center
    float: none

  .customer-confidence-item
    margin: 0 0 30px

  .customer-confidence
    margin: 50px 0
    padding: 37px 0 0
    h2
      margin: 0 0 40px



  .prices-comparison h2
    font-size: 36px
    margin: 0 auto 50px

  .prices-comparison-img
    max-width: 300px
    margin: 0 auto

  .prices-comparison-text
    &:first-child
      left: 0
    &:last-child
      left: 0
      bottom: 0

  .sales-box-content h3
    max-width: 180px
    margin: 0 20px 0 0

  .sales-box-content
    padding: 20px

  .sales-my .sales-box
    padding: 30px

  .sale-val
    font-size: 60px

  .sales-my .sales-box h3
    font-size: 24px

  .variable-payment
    margin: 50px 0

  .variable-payment-box
    font-size: 18px

  .conditions
    padding: 30px
    margin: 40px auto 0
    h3
      font-size: 24px
      padding: 0 0 20px
      margin: 0 0 30px
    h4
      font-size: 26px
      line-height: 1

  .list-conditions
    li
      margin: 0 0 30px

  .header .nav-item
    margin: 0 0 10px

/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
  header
    padding: 10px 0

  .free-measurement
    width: 100%
    padding: 10px 20px
    font-size: 18px
    height: auto
    margin: 0 0 30px

  .home
    margin: 30px 0 50px
    .btn
      margin: 30px 0

  .profitable-card
    margin: 0 0 20px

  .profitable
    margin: 0 0 30px

  .advantages-in-numbers__box
    height: auto
    font-size: 18px

  .advantages-in-numbers__img
    left: auto
    right: 0
    width: 150px
    top: 20px

  .product-card__title
    margin: 50px auto 20px

  .product-card__description
    margin: 0 auto 20px

  .product-card
    margin: 0 0 20px

  .price-wrapper
    margin: 0 auto 20px

  .installment-plan
    margin: 0 auto 30px

  .product-card__img
    height: 230px

  .portfolio-slider
    padding: 0 40px
    .slick-arrow
      width: 30px
      height: 30px

  .prices
    margin: 0 0 30px

  .services-item-max, .services-item:last-child
    margin: 0 0 25px
    height: auto

  .services-item__img
    max-width: 100px

  label
    max-width: 49%
    margin: 0

  .form
    flex-wrap: wrap
    button
      margin: 10px auto

  .consent
    max-width: none
    width: 100%
    text-align: center

  .call-the-master .form
    justify-content: space-between

  .payment-variable__wrap .list-check
    flex-direction: column
    align-items: flex-start
    li
      margin: 0 0 15px
      &:last-child
        margin: 0

  .list-check li:before
    width: 30px
    height: 30px

  .payment-variable
    margin: 40px 0

  .calculate-call
    flex-direction: column
    align-items: center
    text-align: center
    .btn
      margin: 20px auto 0
    h2
      text-align: center

  .calculate-wrapper
    margin: 0 0 40px

  .reasons-box
    padding: 40px 30px
    height: 300px
    h3
      font-size: 20px
      margin: 0 0 20px

  .reasons-slider__nav
    padding: 0 30px
    bottom: 20px

  .reasons-slider__nav .slick-dots li
    width: 30px
    height: 30px
    margin: 0 10px 0 0
    button
      font-size: 18px

  .trust-us
    margin: 40px 0

  .trust-us__slider
    padding: 0 40px
    .slick-prev
      left: 0
    .slick-next
      right: 0

  .service-card__body
    flex-direction: column
    align-items: center
    justify-content: flex-end
    padding: 0 20px 20px

  .service-card
    margin: 0 0 30px

    h3
      font-size: 16px
      margin: 0 0 10px

  .services .nav-pills
    margin: 0 auto 30px

  .sales-box
    min-height: 240px
    h3
      margin: 0 0 30px
    p
      font-size: 16px

  .form-group-call
    margin: 0 0 10px
    width: 49%
    &:last-child
      width: 100%
      margin: 0
    label
      max-width: none

  .call-the-master-two .form button
    margin: 0 auto 10px

  .portfolio-box__img
    height: 250px

  .portfolio-box
    margin: 0 0 25px

  .portfolio-page
    margin: 0 0 40px

  .directors-word
    .box-text
      max-width: none
    .btn
      margin: 20px 0 0

  .directors-word-img
    margin: 30px auto 0

  .management-staff
    margin: 0 0 40px
    h2
      margin: 0 auto 30px

  .call-info__wrapper
    flex-direction: column
    align-items: center
    h3
      font-size: 20px
    span
      font-size: 12px

  .call-info
    margin: 40px 0 60px
    .call-the-master__content
      width: 100%
      margin: 0 auto 20px
      max-width: none
    .form
      width: 100%
      max-width: none
      button
        order: -1
        margin: 0 auto 10px

  .call-info__wrapper .form-group-call:last-child
    flex-direction: column
    align-items: center
    width: 100%


  .call-info__wrapper .form-group-call
    width: 49%

  .reviews-page__img
    margin: 30px 0 0

  .video-reviews
    margin: 0 0 60px

  .video-reviews-box
    margin: 0 0 40px

  .close
    right: 10px
    top: 10px
    width: 20px
    height: 20px

  .modal-dialog-scrollable .modal-content
    overflow: hidden

  .modal-body
    padding: 30px

  .modal-body .list-dots li
    margin-bottom: 20px

  .calculate-stages
    padding: 0

  .calculate-stages__header
    font-size: 20px
    flex-wrap: nowrap
    .number
      width: 30px
      height: 30px
      min-width: 30px
      margin: 0 10px 0 0
      font-size: 18px

  .type-window__item
    width: 33.3%
    flex: none
    margin: 0 0 30px

  .radio
    max-width: none

  .main-window .btn
    margin: 13px auto 0

  .main-window .home-content
    padding: 0

  .main-advantages
    justify-content: space-around
    li
      margin: 0 20px 10px 0
      &:last-child
        margin: 0 0 10px

  .main-window .main-banner
    height: 337px
    margin: 0 0 32px

  .clients-reviews__box
    padding: 20px
    max-width: 95%

  .clients-reviews
    margin: 50px 0

  .type-window__item
    margin: 0 auto 20px

  .example-price-wrapper
    padding: 0

  .main-repairs .main-banner
    height: 180px
    margin: 0 0 29px

  .main-repairs
    .main-advantages
      margin: 0
      order: 1
      flex-direction: row
      align-items: center
      justify-content: space-around
      li
        margin: 0
    .btn
      margin: 17px 0 29px
      max-width: 222px
      width: 100%

  .main-repairs .home-content
    padding: 0

  .departure-master-form label:last-child
    margin: 0 auto 25px

  .thermal-imager-img
    margin: 0px auto 20px
    max-width: 343px

  .form-bottom
    margin-top: 19px

  .thermal-imager .list-dots li:before
    top: 0

  .thermal-imager .list-dots
    font-size: 24px
    padding: 0

  .thermal-imager h2
    text-align: center

  .sales-box-title
    max-width: none
    width: 100%
    margin: 0 auto 30px
    align-items: center
    justify-content: center
    text-align: center
    h3
      max-width: none
      text-align: center

  .sales-box-content
    margin: 0 auto
    h3
      margin: 0 30px 0 0

  .header
    padding: 27px 0 0
    .logo
      max-width: 134px

  .customer-confidence-number__item .number
    font-size: 64px

  .customer-confidence-number:before
    width: 100%

/* Extra Small Devices, Phones */
@media only screen and (max-width: 700px)
  .header
    .logo
      margin: 0 auto 0 0
    .phone
      font-size: 18px
      margin: 0 23px 0 0
    .btn, .select
      order: 1
      width: 49%
      margin: 14px auto 0
      max-width: none

@media only screen and (max-width: 575px)
  header
    .list-social
      display: none
    .btn
      margin: 0 0 0 auto

  .home h1, .profitable h2
    font-size: 26px

  .list-services li a
    height: 70px

  .main-banner
    height: 280px

  .profitable
    h2
      text-align: center
      margin: 0 auto 30px
    .btn
      margin: 0 auto 30px

  .reviews
    margin: 40px 0

  .recommended-services
    justify-content: center
    align-items: flex-start
    display: flex
    flex-direction: column

  .recommended-services__info
    justify-content: center
    flex-direction: column
    align-items: flex-start
    p
      margin: 14px 0 0
      
  .payment-variable__wrap h2
    text-align: left

  .list-check li:before
    width: 45px
    height: 45px

  .list-check li
    padding: 0 0 0 60px
    margin: 0 0 26px

  .reasons-box
    padding: 40px 14px
    height: 394px
    background: linear-gradient(90deg, #000000 26.46%, rgba(0, 0, 0, 0) 56.55%), url('../img/reasons.png') no-repeat 80% center
      size: cover

  .reasons-box__content
    max-width: 209px
    h3
      font-size: 24px

  .reasons-slider__nav
    .slick-dots
      li
        margin: 0 20px 0 0
        width: 40px
        height: 40px
        min-width: 40px
        button
          font-size: 24px

  .clients-reviews__box
    padding: 28px 30px

  .clients-reviews .btn
    margin: 70px auto 0

  .clients-reviews
    margin: 55px 0 60px

  .reasons
    margin: 0 0 40px

  .footer-box
    margin: 0 0 10px
    &:last-child
      margin: 0 0 20px

  .links-location
    margin: 0 0 20px

  .footer-menu
    margin: 0 0 20px

  .about-min-img, .about-min-body
    height: auto

  .about-min-body
    padding: 30px 20px

  .about-main
    margin: 0 0 40px

  .city-wrapper__score-director
    margin: 20px auto 0

  .nav-pills-contacts .nav-link
    height: 60px

  .history-company .advantages-in-numbers__box
    margin: 0 auto 20px
    width: 100%
    max-width: none
    padding: 25px 36px

  .history-company .advantages-in-numbers__box .advantages-in-numbers__img
    left: auto
    right: 0

  .category-services
    margin: 0 0 50px

  .calculate-my .box-text
    margin: 20px 0 0

  .consultation-img
    right: -15px

  .consultation-title:before
    width: calc(100% - 40px)
    left: -15px

  .consultation
    margin: 60px 0

  .stages-work-box
    padding: 0 10px 0 0

  .stages-work-wrapper
    .col-6
      padding: 0 8px

  .variable-payment-box__body
    width: calc(100% - 122px)
    padding: 0 0 0 60px

  .variable-payment-box
    flex-wrap: wrap
    font-size: 24px

  .variable-payment-box__img
    margin: 0
    width: 122px
    height: 122px

  .variable-payment-box:first-child .variable-payment-box__img img
    max-width: 144px
    left: -2px
    bottom: 11px

  .variable-payment-box:nth-child(2) .variable-payment-box__img img
    bottom: 0
    left: -11px
    max-width: 159px

  .variable-payment-box:last-child .variable-payment-box__img img
    max-width: 70px
    left: 34px
    bottom: 5px

  .result-work__item
    margin: 0 auto 20px
    height: 254px
    border-radius: 10px
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover

  .certificates
    margin: 40px auto 50px

  .prices-comparison-img
    font-size: 10px

  .prices-comparison-text:last-child
    max-width: 96px
    bottom: 48px
    left: 74px

  .prices-comparison-text:first-child
    top: -25px

  .prices-comparison
    margin: 0 0 20px

  .staff
    padding: 36px 0 17px
    margin: 32px 0
    h2
      text-align: center

  .video-reviews-my__box
    height: 156px
    max-width: 278px
    margin: 0 auto

  .video-reviews-my__box-max .btn-video-play
    width: 32px
    height: 22px

  .sales-my .sales-box
    padding: 37px 28px 23px
    
  .sales-box-title
    align-items: flex-start
    text-align: left
    h3
      text-align: left


  .sales-my
    .sales-box
      h3
        margin: 0 0 38px
        font-size: 36px
    .sales-box-content
      padding: 33px 10px
      align-items: flex-start
      h3
        text-align: left
        margin: 0 0 23px

  .sale-val
    font-size: 107px
    line-height: 102px
    text-align: left

  .sales-my
    margin: 59px 0

  .conditions
    padding: 34px 30px
    h3
      font-size: 36px
      margin: 0 0 25px
      padding: 0 0 36px
    h4
      font-size: 74px

  .list-conditions li
    margin: 0 0 34px

  .certificates
    h2
      font-size: 28px

  .calculate-stages-one
    .calculate-stages__body
      padding: 0
    .type-window__item
      width: 48%

  .example-price-box
    max-width: 283px
    margin: 0 auto

  .example-price
    margin: 0 0 50px

@media only screen and (max-width: 480px)
  .call-item
    padding: 28px 11px
    h2
      margin: 0 0 16px
    p
      margin: 0 0 12px

  .call-item .form-group-comment, .call-item .form-group
    &:nth-child(3), &:last-child
      max-width: none

  .call-item
    .form-group
      &:nth-child(3)
        order: 1
        max-width: 175px
        margin: 0 auto

  .call-item-masters .form button
    margin: 7px auto

  .list-social li
    margin: 0 25px 0 0

  .list-social li a
    width: 36px
    height: 21px

  .list-social li .insta-links
    width: 28px
    height: 27px

  .list-social li .fb-links
    width: 13px
    height: 26px

  .list-social li .ok-links
    width: 16px
    height: 26px

  .call-item-masters .form .consent
    margin: 0 auto 0

  .call-item .form-group button
    margin: 0 auto

  .call-item .consent
    margin: 10px auto 0

  .news-box__img
    width: 150px
    height: 150px

  .news-box__body
    width: calc(100% - 150px)

  .news-box
    padding: 20px
    .btn
      margin: 20px 0 0

  .type-window__item
    width: 50%

  .calculate-stages
    margin: 0 0 30px

  .calculate-stages__body
    padding: 0 0 0 55px
    .input-group input
      width: 45%

  .calculate-contacts
    h3
      text-align: center
    label
      max-width: none
      margin: 0 auto 15px
    .btn
      margin: 0 auto 15px
    .consent
      margin: 0 auto
      max-width: 175px

  .calculate-stages__header
    font-size: 24px
    margin: 0 0 9px
    .number
      width: 46px
      height: 46px
      font-size: 27px
      min-width: 46px

  .advantages-box
    padding: 25px 11px 34px
    font-size: 14px

  .advantages
    margin: 0 0 40px

  .advantages-box__img
    max-width: 127px

  .advantages-box__content
    padding: 0

  .type-window__item
    margin: 0 auto 27px
    font-size: 12px
    width: 30%
    .type-window__item-img
      width: 100%
      padding: 15px 10px

  .profile-brands-wrapper .radio
    width: 20%

  .problems-box

    &__img
      width: 139px
      border-radius: 20px 0px 0px 20px
    &__content
      width: calc(100% - 139px)
      padding: 22px 15px 20px
      justify-content: flex-start
      align-items: flex-start
    .btn
      margin: 22px 0 0

  .sales-box-content
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    width: 100%
    h3
      max-width: none
      margin: 0 auto 20px

  .main-advantages
    .icon
      width: 43px
      height: 36px
      min-width: 43px

  .prices
    .nav-pills .nav-item
      margin: 0 0 14px



/* Custom, iPhone Retina */
@media only screen and (max-width: 420px)
  header
    .btn
      display: none

  .navbar-toggler
    margin: 0 0 0 auto

  .list-services li a
    font-size: 9px

  .main-banner
    height: 240px

  .free-measurement .icon-svg
    width: 40px
    height: 40px

  .profitable-card__title
    min-height: auto
    font-size: 9px
    bottom: 10px

  .profitable-card__price
    margin: 15px 0 0
    font-size: 12px

  .portfolio-slider
    padding: 0

  .portfolio-slider__box
    height: 270px

  label
    max-width: none
    margin: 0 0 10px
    &:last-child
      margin: 0

  h2
    margin: 0 auto 25px

  h1
    font-size: 28px
    margin: 0 auto 25px

  .reasons-box
    background: linear-gradient(90deg, #000000 35.46%, rgba(0, 0, 0, 0) 80.55%), url("../img/reasons.png") no-repeat 60% center
      size: 100%, cover

  .reasons-slider__nav .slick-dots
    justify-content: space-between


    li
      margin: 0

  .reasons-slider__nav
    padding: 0 30px
    width: calc(100% - 30px)


  .trust-us__box
    padding: 0

  .news-box
    flex-direction: column
    align-items: center
    h3
      text-align: center
      width: 100%
    .btn
      margin: 20px auto 0

  .news-box__body
    width: 100%
    padding: 20px 0 0
    order: 1

  .news-box__img
    margin: 0 auto

  .news
    margin: 20px 0 0

  .form-group-call
    width: 100%

  .form-group-call-message
    max-width: none

  .call-two
    margin: 30px 0 40px

  .sales-box
    margin: 0 0 30px
    padding: 30px 20px
    min-height: 200px
    &:before
      background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 80%)
    h3
      font-size: 20px
      margin: 0 0 25px

  .about-page__slider .slick-arrow
    width: 15px
    height: 30px

  .about-page__slider .slick-prev
    left: 10px

  .about-page__slider .slick-next
    right: 10px

  .about-main h1
    margin: 0 0 25px

  .call-info__wrapper .form-group-call
    width: 100%

  .call-info__wrapper .form-group-call:last-child
    margin: 0

  .reviews-wrapper__slider .slick-dots li
    width: 16px
    height: 16px
    margin: 0 10px 0 0

  .video-reviews-box__img
    height: 250px

  .profile-brands-wrapper
    justify-content: space-around
    .radio
      width: 76px

  .sizes-balcony
    padding: 0

  .total-sum
    margin: 30px 0 0
    h3
      font-size: 20px

  .total-sum__val
    font-size: 40px

  .services-main
    .row
      margin: 0 -8px
    .col-6
      padding: 0 8px

  .services-main-box__img
    height: 163px

  .services-main-box__body
    padding: 29px 0 0

  .header
    .btn
      display: flex

  .select
    min-width: auto

  .equipment-box
    width: 100%
    max-width: 192px
    padding: 0
    margin: 0 auto 39px
    .equipment-box__img
      margin: 0 0 -78px -28px
    &:nth-child(3)
      .equipment-box__img
        margin: 0 0 -45px -47px
    &:last-child
      margin: 0 0 39px
      .equipment-box__img
        margin: 0 0 -89px -26px


  .equipment-box__body
    padding: 97px 25px 10px

  .prices-my
    margin: 14px 0 67px
    h2
      margin: 0 auto 13px
    .box-text
      padding: 15px 12px 10px

  .customer-confidence__icon
    width: 74px
    height: 74px
    min-width: 74px

  .customer-confidence__body
    width: calc(100% - 74px)

  .type-balcony__item .type-window__item-img
    padding: 0

  .calculate-stages-one .type-window__item
    margin: 0 auto 14px

@media only screen and (max-width: 370px)
  .header
    .phone
      font-size: 14px
      margin: 0 10px 0 0

  .my-title h2
    font-size: 32px

  .consultation-img
    max-width: 150px
    top: -30px
    right: -35px

  .customer-confidence-number__item .number
    font-size: 50px

  .customer-confidence__img
    max-width: 280px

  .sales-my .sales-box h3
    font-size: 30px

  .sale-val
    font-size: 90px
    line-height: 1

  .variable-payment-box__body
    padding: 0 0 0 30px
    font-size: 20px

  .conditions
    h3
      font-size: 30px
    h4
      font-size: 50px

  .certificates
    h2
      font-size: 28px