@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
  .nav-item
    margin: 0 10px 0 0

  .list-social
    margin: 0 10px 0 auto
    li
      margin: 0 10px 0 0

  header .btn
    max-width: 150px

  .home-content
    padding: 0

  .home
    h1
      font-size: 30px

  .free-measurement
    font-size: 20px

  .main-banner
    height: 326px

  .list-services li a
    height: 100px

  .profitable h2
    font-size: 30px
    margin: 0 0 30px

  .profitable-card__title
    padding: 0 10px
    font-size: 12px

  .profitable-card__img
    width: 100%
    height: 150px

  .payment-variable__wrap
    flex-direction: column
    align-items: center
    h2
      text-align: center
      max-width: none
      margin: 0 auto 20px
    .list-check
      max-width: none
      width: 100%
      justify-content: space-around
      li
        margin: 0 0 10px
        &:last-child
          margin: 0 0 10px

  .calculate-call
    padding: 20px
    p
      font-size: 18px

  .call-item .form-group-comment
    max-width: 172px
    margin: 0 0 0 auto

  .news-box__img
    width: 200px
    height: 200px

  .news-box__body
    width: calc(100% - 200px)
    padding: 20px 0 0

  .call-the-master-two .call-the-master__content
    max-width: 270px

  .call-the-master-two .form
    width: calc(100% - 270px)

  .call-the-master-two
    padding: 30px

  .call-two
    margin: 35px 0 50px

  .about-min-body
    padding: 20px
    h3
      margin: 0 0 20px

  .call-info .form
    padding: 0

  .city-wrapper__address, .office-center
    font-size: 18px

  .office-center
    margin: 30px 0

  .address, .schedule
    margin: 0 0 20px

  .main-window .btn
    margin: 20px 0 0

  .main-advantages li
    margin: 0 0 10px

  .customer-confidence
    &__img
      width: 100%
    h2
      font-size: 30px

  .customer-confidence-number__item .number
    font-size: 54px
    line-height: 1

  .thermal-imager h2
    font-size: 30px

  .thermal-imager .list-dots
    font-size: 18px

  .sale-val
    font-size: 80px
    line-height: 1

  .sales-my .sales-box h3
    font-size: 26px

  .sales-box-content h3
    max-width: 220px

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  .navbar-toggler
    display: block
    margin: 0 0 0 10px

  .navbar-collapse
    position: fixed
    transition: none
    left: 0
    top: 0
    background: #fff
    width: 100%
    max-width: 300px
    padding: 30px
    height: 100%
    overflow-y: auto
    z-index: 3
    box-shadow: 0px 4px 16px rgba(15, 89, 72, 0.4)

  .nav-item
    margin: 0 0 10px

  .nav-link
    font-size: 16px

  .profitable
    .btn
      margin: 0 0 30px

  .about-min .btn
    margin: 20px auto 0

  .advantages-in-numbers__box
    margin: 0 0 30px
    font-size: 20px
    height: 200px
    padding: 40px 20px 30px

  .advantages-in-numbers__number
    font-size: 30px
    margin: 0 0 20px

  .advantages-in-numbers
    margin: 0 0 30px

  .services-item
    font-size: 18px
    padding: 21px 25px
    margin: 0 0 25px
    &:last-child
      padding: 7px 25px 15px

  .services-item-max
    padding: 35px 20px

  .call-the-master
    padding: 30px 20px
    flex-direction: column
    align-items: center
    .form
      width: 100%
      margin: 10px 0 0

  .call-the-master__content
    width: 100%
    text-align: center

  .recommended-services
    margin: 15px 0 0

  .call-item .form-group-comment, .call-item .form-group
    max-width: 49%

  .call-item-manager
    margin: 0 0 30px

  .call-item
    height: auto

  footer
    padding: 30px 0

  .footer-menu
    margin: 0 0 30px

  .nav-pills
    margin: 0 0 30px
    justify-content: space-around
    .nav-item
      margin: 0 0 10px

  .sales-box
    padding: 50px 30px 20px
    min-height: 300px
    h3
      font-size: 24px
      max-width: 400px
    p
      font-size: 18px

  .about-main
    h1
      max-width: none
      margin: 0 0 40px
    .box-text
      max-width: none
    h3
      font-size: 20px
      margin: 0 0 20px

  .about-main__content
    margin: 0 0 30px

  .about-min-img, .about-min-body
    height: 220px

  .presentation-wrapper
    margin: 30px auto 0
    flex-direction: column
    align-items: center
    h4
      margin: 0 auto 20px
      text-align: center

  .directors-word
    margin: 40px 0

  .office-center h2
    font-size: 24px

  .equipment-box
    width: 50%
    max-width: none
    padding: 0 20px
    margin: 0 0 30px

  .equipment-box__img, .equipment-box:last-child .equipment-box__img
    margin: 0 auto -78px

  .equipment-box:nth-child(3) .equipment-box__img
    margin: 0 auto -48px

  .my-title h2
    font-size: 30px

  .type-balcony__item
    margin: 0 auto 20px
    width: 19%
    &:last-child
      margin: 0 auto 20px

  .example-price-wrapper
    padding: 0

  .departure-master-img
    max-width: 500px
    margin: 30px auto 0

  .departure-master
    margin: 40px 0

  .departure-master-form
    label
      width: 100%
      max-width: none
    button
      max-width: 300px
      margin: 20px auto 0
    .consent
      max-width: none
      margin: 10px auto
      text-align: center

  .departure-master-form h3
    margin: 0 0 20px

  .consultation-img
    right: 0
    top: -50px
    max-width: 250px

  .form-consultation
    margin: 0 auto
    max-width: 300px
    label
      max-width: none
    .consent
      text-align: center
      max-width: none

  .consultation-title
    padding: 40px 0
    h2
      font-size: 30px

  .consultation-content
    padding: 50px 0
    &:before
      height: 100%
      width: calc(100% + 30px)
      left: -15px
      border-radius: 0

  .customer-confidence__img
    max-width: 300px
    margin: 30px auto 0
    justify-content: center
    height: auto
    align-items: center
    float: none

  .customer-confidence-item
    margin: 0 0 30px

  .customer-confidence
    margin: 30px 0 50px
    h2
      margin: 0 0 40px



  .prices-comparison h2
    font-size: 30px
    margin: 0 auto 50px
    text-align: center

  .prices-comparison-img
    max-width: 300px
    margin: 0 auto

  .prices-comparison-text
    &:first-child
      left: 0
    &:last-child
      left: 0
      bottom: 0

  .sales-box-content h3
    max-width: 180px
    margin: 0 20px 0 0

  .sales-box-content
    padding: 20px

  .sales-my .sales-box
    padding: 30px

  .sale-val
    font-size: 60px

  .sales-my .sales-box h3
    font-size: 24px

  .variable-payment
    margin: 50px 0

  .variable-payment-box
    font-size: 18px

  .conditions
    padding: 30px
    margin: 30px auto 0
    h3
      font-size: 24px
      padding: 0 0 20px
      margin: 0 0 30px
    h4
      font-size: 26px
      line-height: 1

  .list-conditions
    li
      margin: 0 0 30px

/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
  header
    padding: 10px 0

  .free-measurement
    width: 100%
    padding: 10px 20px
    font-size: 18px
    height: auto
    margin: 0 0 30px

  .home
    margin: 30px 0 50px
    .btn
      margin: 30px 0

  .profitable-card
    margin: 0 0 20px

  .profitable
    margin: 0 0 30px

  .advantages-in-numbers__box
    height: auto
    font-size: 18px

  .advantages-in-numbers__img
    left: auto
    right: 0
    width: 150px
    top: 20px

  .product-card__title
    margin: 20px 0 10px

  .product-card__description
    margin: 0 auto 10px

  .product-card
    margin: 0 0 20px

  .installment-plan, .price-wrapper
    margin: 0 auto 15px

  .product-card__img
    height: 170px

  .portfolio-slider
    padding: 0 40px
    .slick-arrow
      width: 30px
      height: 30px

  .prices
    margin: 0 0 30px

  .services-item-max, .services-item:last-child
    margin: 0 0 25px
    height: auto

  .services-item__img
    max-width: 100px

  label
    max-width: 49%
    margin: 0

  .form
    flex-wrap: wrap
    button
      margin: 10px auto

  .consent
    max-width: none
    width: 100%
    text-align: center

  .call-the-master .form
    justify-content: space-between

  .payment-variable__wrap .list-check
    flex-direction: column
    align-items: flex-start
    li
      margin: 0 0 15px
      &:last-child
        margin: 0

  .list-check li:before
    width: 30px
    height: 30px

  .payment-variable
    margin: 40px 0

  .calculate-call
    flex-direction: column
    align-items: center
    text-align: center
    .btn
      margin: 20px auto 0
    h2
      text-align: center

  .calculate-wrapper
    margin: 0 0 40px

  .reasons-box
    padding: 40px 30px
    height: 300px
    h3
      font-size: 20px
      margin: 0 0 20px

  .reasons-slider__nav
    padding: 0 30px
    bottom: 20px

  .reasons-slider__nav .slick-dots li
    width: 30px
    height: 30px
    margin: 0 10px 0 0
    button
      font-size: 18px

  .trust-us
    margin: 40px 0

  .trust-us__slider
    padding: 0 40px
    .slick-prev
      left: 0
    .slick-next
      right: 0

  .service-card__body
    flex-direction: column
    align-items: center
    justify-content: flex-end
    padding: 0 20px 20px

  .service-card
    margin: 0 0 30px

    h3
      font-size: 16px
      margin: 0 0 10px

  .services .nav-pills
    margin: 0 auto 30px

  .sales-box
    min-height: 240px
    h3
      margin: 0 0 30px
    p
      font-size: 16px

  .form-group-call
    margin: 0 0 10px
    width: 49%
    &:last-child
      width: 100%
      margin: 0
    label
      max-width: none

  .call-the-master-two .form button
    margin: 0 auto 10px

  .portfolio-box__img
    height: 250px

  .portfolio-box
    margin: 0 0 25px

  .portfolio-page
    margin: 0 0 40px

  .directors-word
    .box-text
      max-width: none
    .btn
      margin: 20px 0 0

  .directors-word-img
    margin: 30px auto 0

  .management-staff
    margin: 0 0 40px
    h2
      margin: 0 auto 30px

  .call-info__wrapper
    flex-direction: column
    align-items: center
    h3
      font-size: 20px
    span
      font-size: 12px

  .call-info
    margin: 40px 0 60px
    .call-the-master__content
      width: 100%
      margin: 0 auto 20px
      max-width: none
    .form
      width: 100%
      max-width: none
      button
        order: -1
        margin: 0 auto 10px

  .call-info__wrapper .form-group-call:last-child
    flex-direction: column
    align-items: center
    width: 100%


  .call-info__wrapper .form-group-call
    width: 49%

  .reviews-page__img
    margin: 30px 0 0

  .video-reviews
    margin: 0 0 60px

  .video-reviews-box
    margin: 0 0 40px

  .close
    right: 10px
    top: 10px
    width: 20px
    height: 20px

  .modal-dialog-scrollable .modal-content
    overflow: hidden

  .modal-body
    padding: 30px

  .modal-body .list-dots li
    margin-bottom: 20px

  .calculate-stages
    padding: 0

  .calculate-stages__header
    font-size: 20px
    .number
      width: 30px
      height: 30px
      min-width: 30px
      margin: 0 10px 0 0
      font-size: 18px

  .type-window__item
    width: 33.3%
    flex: none
    margin: 0 0 30px

  .radio
    max-width: none

  .main-window .btn
    margin: 0

  .main-window .home-content
    padding: 0
    margin: 0 0 30px

  .main-advantages
    justify-content: flex-start
    li
      margin: 0 20px 10px 0
      &:last-child
        margin: 0 0 10px

  .main-window .main-banner
    height: 300px

  .clients-reviews__box
    padding: 20px
    max-width: 95%

  .clients-reviews
    margin: 50px 0

  .type-window__item
    margin: 0 auto 20px

  .example-price-wrapper
    padding: 0

  .main-repairs .main-banner
    height: 300px

  .main-repairs .main-advantages
    margin: 20px 0 0

  .main-repairs .home-content
    padding: 0

  .departure-master-form label:last-child
    margin: 0 0 20px

  .thermal-imager-img
    margin: 30px auto 0
    max-width: 400px

  .thermal-imager .list-dots li:before
    top: 0

  .thermal-imager .list-dots
    font-size: 16px

  .thermal-imager h2
    text-align: center

  .sales-box-title
    max-width: none
    width: 100%
    margin: 0 auto 30px
    align-items: center
    justify-content: center
    text-align: center
    h3
      max-width: none
      text-align: center

  .sales-box-content
    margin: 0 auto
    h3
      margin: 0 30px 0 0

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px)
  header
    .list-social
      display: none
    .btn
      margin: 0 0 0 auto

  .home h1, .profitable h2
    font-size: 26px

  .list-services li a
    height: 70px

  .main-banner
    height: 280px

  .profitable
    h2
      text-align: center
      margin: 0 auto 30px
    .btn
      margin: 0 auto 30px

  .reviews
    margin: 40px 0

  .recommended-services
    justify-content: center
    align-items: center
    display: flex
    flex-direction: column

  .recommended-services__info
    justify-content: center

  .reasons
    margin: 0 0 40px

  .footer-box
    margin: 0 0 10px
    &:last-child
      margin: 0 0 20px

  .links-location
    margin: 0 0 20px

  .footer-menu
    margin: 0 0 20px

  .about-min-img, .about-min-body
    height: auto

  .about-min-body
    padding: 30px 20px

  .about-main
    margin: 0 0 40px

  .city-wrapper__score-director
    margin: 20px auto 0

  .nav-pills-contacts .nav-link
    height: 60px

  .history-company .advantages-in-numbers__box
    margin: 0 auto 20px
    width: 100%
    max-width: none

  .history-company .advantages-in-numbers__box .advantages-in-numbers__img
    left: auto
    right: 0

  .my-title
    h2
      font-size: 24px

  .category-services
    margin: 0 0 50px

  .calculate-my .box-text
    margin: 20px 0 0

  .consultation-img
    position: relative
    right: 0
    top: 0
    margin: 20px auto
    max-width: 200px

  .consultation-title
    padding: 30px 0 20px
    h2
      text-align: center
      margin: 0 auto

  .consultation
    margin: 50px 0

  .stages-work-box
    padding: 0
    border: none

  .variable-payment-box__body
    width: 100%
    margin: 30px auto 0
    text-align: center

  .variable-payment-box
    flex-wrap: wrap

  .variable-payment-box__img
    margin: 0 auto

  .variable-payment-box:nth-child(2) .variable-payment-box__img img
    bottom: 0

  .result-work__item
    margin: 0 auto 30px

  .certificates
    margin: 40px auto 50px

@media only screen and (max-width: 480px)
  .call-item
    padding: 30px 20px
    h2
      margin: 0 0 20px

  .call-item .form-group-comment, .call-item .form-group
    max-width: none

  .call-item .form-group button
    margin: 0 auto

  .call-item .consent
    margin: 10px auto 0

  .news-box__img
    width: 150px
    height: 150px

  .news-box__body
    width: calc(100% - 150px)

  .news-box
    padding: 20px
    .btn
      margin: 20px 0 0

  .type-window__item
    width: 50%

  .calculate-stages
    margin: 0 0 30px

  .calculate-stages__body
    padding: 0

  .calculate-contacts
    h3
      font-size: 20px
    label
      margin: 0 auto 15px
    .btn
      margin: 0 auto 15px

  .equipment-box
    width: 100%
    padding: 0

  .advantages-box
    flex-direction: column
    align-items: flex-start
    padding: 20px
    h3
      font-size: 18px

  .advantages
    margin: 0 0 40px

  .advantages-box__img
    max-width: 200px
    margin: 20px auto 0
    order: 1

  .advantages-box__content
    padding: 0

  .type-window__item
    margin: 0 auto 10px
    width: 49%
    .type-window__item-img
      width: 100%

  .profile-brands-wrapper .radio
    width: 20%

  .problems-box
    flex-direction: column
    align-items: center
    text-align: center
    &__img
      width: 100%
      height: 150px
      border-radius: 20px 20px 0 0
    &__content
      width: 100%
      padding: 15px
      text-align: center
      justify-content: center
      align-items: center
    .btn
      margin: 20px auto 0

  .sales-box-content
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    width: 100%
    h3
      max-width: none
      margin: 0 auto 20px

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px)
  header
    .btn
      display: none

  .navbar-toggler
    margin: 0 0 0 auto

  .list-services li a
    font-size: 9px

  .main-banner
    height: 240px

  .free-measurement .icon-svg
    width: 40px
    height: 40px

  .profitable-card__title
    min-height: auto
    font-size: 9px
    bottom: 10px

  .profitable-card__price
    margin: 15px 0 0
    font-size: 12px

  .portfolio-slider
    padding: 0

  .portfolio-slider__box
    height: 270px

  label
    max-width: none
    margin: 0 0 10px
    &:last-child
      margin: 0

  h2
    margin: 0 auto 25px

  h1
    font-size: 28px
    margin: 0 auto 25px

  .reasons-box
    background: linear-gradient(90deg, #000000 35.46%, rgba(0, 0, 0, 0) 80.55%), url("../img/reasons.png") no-repeat right center
      size: 100%, cover

  .trust-us__box
    padding: 0

  .news-box
    flex-direction: column
    align-items: center
    h3
      text-align: center
      width: 100%
    .btn
      margin: 20px auto 0

  .news-box__body
    width: 100%
    padding: 20px 0 0
    order: 1

  .news-box__img
    margin: 0 auto

  .news
    margin: 20px 0 0

  .form-group-call
    width: 100%

  .form-group-call-message
    max-width: none

  .call-two
    margin: 30px 0 40px

  .sales-box
    margin: 0 0 30px
    padding: 30px 20px
    min-height: 200px
    &:before
      background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 80%)
    h3
      font-size: 20px
      margin: 0 0 25px

  .about-page__slider .slick-arrow
    width: 15px
    height: 30px

  .about-page__slider .slick-prev
    left: 10px

  .about-page__slider .slick-next
    right: 10px

  .about-main h1
    margin: 0 0 25px

  .call-info__wrapper .form-group-call
    width: 100%

  .call-info__wrapper .form-group-call:last-child
    margin: 0

  .reviews-wrapper__slider .slick-dots li
    width: 16px
    height: 16px
    margin: 0 10px 0 0

  .video-reviews-box__img
    height: 250px

  .profile-brands-wrapper
    justify-content: space-around
    .radio
      width: 76px

  .sizes-balcony
    padding: 0

  .total-sum
    margin: 30px 0 0
    h3
      font-size: 20px

  .total-sum__val
    font-size: 40px

  .services-main-box__img
    height: 100px